@font-face {
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    src: url('gothampro_light.ttf');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: italic;
    src: url('gothampro_lightitalic.ttf');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-style: normal;
    src: url('gothampro.ttf');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-style: italic;
    src: url('gothampro_italic.ttf');
}


@font-face {
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    src: url('gothampro_medium.ttf');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: italic;
    src: url('gothampro_mediumitalic.ttf');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 700;
    font-style: normal;
    src: url('gothampro_bold.ttf');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 700;
    font-style: italic;
    src: url('gothampro_bolditalic.ttf');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 900;
    font-style: normal;
    src: url('gothampro_black.ttf');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 900;
    font-style: italic;
    src: url('gothampro_blackitalic.ttf');
}